html, body{
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

/* --- GENERAL --- */

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  margin-top: 6vh;
}

h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}

.page {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@media (max-width: 600px) {
  .page {
    padding: 10vh 10vw;
    height: auto;
    padding-bottom: 120px;
  }
}

.page-header {
  display: inline-flex;
  align-items: baseline;
}

.page-header :first-child {
  margin-right: 1vw;
}

.arrow, .arrow:hover {
  position: absolute;
  bottom: 2vh;
  color: lightblue;
  text-decoration: none;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3em;
  text-align: center;
}

.indicator {
  font-size: .4em;
  margin-bottom: 0;
  color: lightblue;
  min-width: 300px;
}

i {
  opacity: .6;
}

.card-divider {
  padding: 1vh 1vw;
}

.has-tip {
  border-bottom: none;
}

.cell {
  padding: .5vw .5vh;
}

.left {
  text-align: left;
}

/* --- LANDING --- */

#landing-page {
  background-image: url("../images/background.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 2vh;
}

#header {
  margin: auto;
  margin-top: 6vh;
  text-align: justify;
  width: 60vw;
  min-width: 350px;
  font-size: 1.3em;
}

#intro-content {
  padding: 2vh;
  min-width: 280px;
}

#hello {
  text-align: center;
  text-overflow: clip;
  height: 10vh;
}

.typed-cursor {
  display: none;
}

#face {
  background-image: url("../images/picture.jpg");
  margin-top: 3vh;
  width: 10vw;
  height: 10vw;
  min-width: 50px;
  min-height: 50px;
  border-radius: 100%;
  background-size: cover;
  border: 2px solid black;
}

@media (max-width: 600px) and (min-width: 350px) {
  #hello {
    height: 5vh;
    min-width: 310px;
  }
  #header {
    margin-top: 0;
  }
}

/* --- TWAP-IT --- */

#twap-it-page {
  padding-top: 3vh;
  color: black;
  text-align: center;
}

a[href="#twap-it-page"] {
  color: inherit;
}

#twap-it-gif {
  border: 1px solid black;
  margin-bottom: 3vh;
}

/* --- FAIR-BNB --- */

#fair-bnb-page {
  color: black;
  border-top: 1px solid black;
}

/* --- CONTACT --- */

#contact-page {
  background-image: url("../images/stars.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  min-width: 350px;
  padding-top: 2vh;
}

.form-container {
  width: 80vw;
  margin: auto;
}

.form-container > form {
  margin: 5vh auto;
}

#honeypot {
  display: none;
}

/* --- FOOTER --- */

footer {
  padding: 2vh 2vw;
  text-align: center;
  color: black;
}
