html, body{
  height: 100%;
  font-family: 'Raleway', sans-serif;
  color: white;
}

#landing {
  background-image: url("../images/airplane.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  padding-top: 2vh;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

.header {
  text-align: center;
  font-size: 2em;
}

.intro {
  font-size: 1.5em;
  text-align: center;
  width: 60vw;
  min-width: 350px;
  margin: auto;
}

img {
  margin-top: 3vh;
  width: 10vw;
  height: 10vw;
  min-width: 50px;
  border-radius: 100%;
  background-size: cover;
  border: 2px solid black;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  min-width: 350px;
  margin: auto;
}

.footer > a {
  margin-top: 5vh;
  font-size: 1.3em;
}
