html,
body {
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  color: white;
  /*overflow-x: hidden;*/
}

body {
  overflow-x: hidden;
}

/* --- GENERAL --- */

h1 {
  font-weight: 700;
  margin-top: 6vh;
}

h5 {
  font-weight: 700;
}

.page {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.page-header {
  display: inline-flex;
  align-items: baseline;
}

.page-header :first-child {
  margin-right: 1vw;
}

.arrow,
.arrow:hover {
  position: absolute;
  bottom: 2vh;
  color: lightblue;
  text-decoration: none;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3em;
  text-align: center;
}

.indicator {
  font-size: 0.4em;
  margin-bottom: 0;
  color: lightblue;
  min-width: 300px;
}

i {
  opacity: 0.6;
  color: lightblue;
}

.card-divider {
  padding: 1vh 1vw;
}

.has-tip {
  border-bottom: none;
}

.cell {
  padding: 0.5vw 0.5vh;
}

.left {
  text-align: left;
}

/* --- LANDING --- */

#landing-page {
  background-image: url('../images/background.gif');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 2vh;
}

#header {
  margin: auto;
  margin-top: 6vh;
  text-align: justify;
  width: 60vw;
  min-width: 350px;
  font-size: 1.3em;
}

#intro-content {
  padding: 2vh;
  min-width: 280px;
  max-width: 100%;
}

#hello {
  text-align: center;
  text-overflow: clip;
  height: 10vh;
}

.typed-cursor {
  display: none;
}

#face {
  background-image: url('../images/picture.jpg');
  margin-top: 3vh;
  width: 10vw;
  height: 10vw;
  min-width: 50px;
  min-height: 50px;
  border-radius: 100%;
  background-size: cover;
  border: 2px solid black;
}

@media (max-width: 600px) and (min-width: 350px) {
  #hello {
    height: 5vh;
    min-width: 310px;
  }
  #header {
    margin-top: 0;
  }
}

/* --- TWAP-IT --- */

#twap-it-page {
  padding-top: 3vh;
  color: black;
  text-align: center;
}

a[href='#twap-it-page'] {
  color: inherit;
}

#twap-it-gif {
  border: 1px solid black;
  margin-bottom: 3vh;
}

/* --- FAIR-BNB --- */

#fair-bnb-page {
  color: black;
  border-top: 1px solid black;
}

/* --- CONTACT --- */

#contact-page {
  background-image: url('../images/stars.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  max-width: 100%;
  padding-top: 2vh;
  margin-right: -10px;
}

.form-container {
  width: 80vw;
  margin: auto;
}

.form-container > form {
  margin: 5vh auto;
}

#honeypot {
  display: none;
}

/* --- FOOTER --- */

footer {
  color: black;
  text-align: center;
}

footer .grid-margin-x {
  margin-right: auto;
}

details {
  padding: 1vh 1vw;
}

.icon > i {
  color: black;
}

@media screen and (max-width: 600px) {
  .page {
    padding: 10vh 10vw;
    height: auto;
    padding-bottom: 120px;
  }
}

/* --- TEST --- */

.content-section {
  margin-top: 5vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.content-section .content-section-img-container {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}

.content-section .content-section-img-container img {
  width: 100%;
  border-radius: 100%;
  border: 2px solid black;
}

@media screen and (min-width: 600px) {
  .content-section {
    padding-top: 10vh;
    width: 80vw;
    max-width: 960px;
    margin: auto;
  }
  .content-section .content-section-img-container {
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }
  .content-section .content-section-img-container {
    max-width: 300px;
  }
  .content-section .content-section-text-container p {
    font-size: 1.2rem;
  }
}

.content-section .content-section-text-container {
  padding: 1rem;
  -webkit-flex: 1 0 100%;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.content-section .content-section-text-container p {
  text-align: justify;
}

@media screen and (min-width: 600px) {
  .content-section .content-section-text-container {
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    padding: 2rem;
  }
}
